@import "tailwindcss";

.light {
    width: 100%;
    height: 100vh;
    background-color: #fff;
    transition: all 1s;
}

.dark {
    width: 100%;
    height: 100vh;
    background-color: #000000;
    transition: all 1s;
}