body{
    background-color: red;
}
.lo{
    font-size: medium;
}
.low{
    font-size: small;
}

.high{
    font-size: 20em;
}

.color{
    color: yellow;
}

.back{
    background-color: red;
}
.ground{
    background-color: #fff;
}