h1{
    text-align: center;
}
.pera{
    text-align: center;
    background-color: aqua;
}
.pera1{
    color: aliceblue;
    background-color: blue;
}
.pera2{
    margin-right: 50%;
    color: blue;
    background-color: bisque;
}