*{
    margin: 0;
    padding: 0;
}

.box{
    width: 100px;
    height: 100px;
    background-color: blue;
    border: 5px solid yellow;
    position: relative;
    animation: 10s linear 0s infinite alternate running box-animation;
}

@keyframes box-animation{
    0%{
        top: 0px;
        left: 0px;
    }
    50%{
        top: 500px;
        left: 600px;
    }
    100%{
        top: 100px;
        left: 200px;
    }
    150%{
        top: 100px;
        left: 1000px;
    }
    70%{
        top: 0;
        left: 90%;
    }

}