*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html, body {
  height: 100%;
  width: 100%;
}


.mainCard{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.card{
  width: 200px;
  height: 200px;
  background-color: #ff3636;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  color: #fff;
}



.nav{
  background-color: lightblue;
  padding: 20px;
  margin: 5px;
  
}
