/* #box{
    width: 100px;
    height: 200px;
    color: white;
    background-color: dodgerblue;
    border: 2px solid black;
} */



.para{
    color: red;
}

.newClass{
    background-color: green;
}